@import "components/palette";

@font-face {
    font-family: DellmonteSans;
    src: url("/static/assets/dellmonte-sans.otf") format("opentype");
}


body {
    color: $f-color;
    background: $g-plum;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
}

a {
    color: $g-red;
    // font-weight: bold;
}

.section {
    font-size: 1.3em;
}

main {
    background: $g-plum;
}

.logo-text-container {
    display: flex;
    font-family: DellmonteSans;
    //font-size: 128px;
    font-size: 15vh;
    flex-grow: 1;
    padding-top: 15vh;
    justify-content: center;
    width:100%;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text-main {
    line-height: 1;
}

.logo-slogan {
    //font-size: 48px;
    font-size: 5vh;
}


.dark {
    background: $g-plum;
}

.light {
    background: $light-bg;
    color: $g-plum;
}

.banner {
    background-image: url('/static/assets/images/banner-4-cropped.png');
      background-position: center;
      background-size: cover;
  background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.transparent {
    background-color: transparent;
}

.logo {
    display: block;
    max-width: 36%;
    margin: auto;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .logo {
        max-width: 100%;
    }
    .logo-text-container {
        font-size: 12vw;
        justify-content: center;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 25vh;
    }
    .logo-slogan {
        font-size: 5vw;
    }
}

@media (orientation: portrait) {
    .logo-text-container {
        font-size: 12vw;
        justify-content: center;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 25vh;
    }
    .logo-slogan {
        font-size: 5vw;
    }

}

.hacknc {
    margin-top: 0;
}

.form-btn, .form-btn:focus {
    // font-size: 1em;
    overflow: hidden;
    background-color: brown;
    // color: white;
    text-transform: none;
    // font-weight: 200;
    margin: 0.5em auto 1em auto;
}

.form-btn:hover {
    background-color: darkorange;
}

.top-page-btn {
    height: 15vh !important;
    width: 60vw;
    font-size: 1.2em;
}

.modal {
    .form-btn {
        font-size: 1.5em;
    }
}

nav {
    width: 100%;
    background-color: $g-plum;
    font-family: "Quicksand";
}

nav ul a {
    color: $f-color;
    margin: 0px 0px 0px 20px;
    font-size: 1.2rem;
    font-weight: normal;
}

.nfixed {
    margin-top: 0;
    top: 0;
    z-index: 100;
    position: fixed;
}

.live-nav-link {
    color: $g-gold;
    font-weight: bold;
}

.nav-anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

.collapsible {
    border: 5px solid $dark-bg;
    border-radius: 5px;
    color: $f-color;
}

.collapsible-header {
    background: $dark-bg;
    border-bottom: 0px;
    h6 {
        font-weight: 600;
    }
}

.collapsible-body {
    padding: 1rem;
    color: $dark-bg;
    border-bottom: 0px;
    p {
        margin: 0 0 0 0;
    }
}

.map-container {
    width: 100%;
    height: 400px;
}

.map-container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table-row-odd {
    color: $table-dark;
    background: $table-light;
}

// .card-content {
//     color: $f-color;
// }

.table-row-even {
    color: $table-light;
    background: $table-dark;
}

.prizes.dark .card {
    @extend .light;
}

.prizes.light .card {
    @extend .dark;
}

.prizes .card {
    height: 100%;
}

.prizes .row { 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    flex-flow: wrap;
}

.prizes .row .col {
    flex: 1; 
    padding: 15px;
}

.sponsors, .description {
    background: $sponsor-bg;
    color: $dark-bg;
}

.sponsor-image {
    display: inline-block;
    max-width: 100%;
}

.valign-wrapper {
    height: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier-4 {
    max-width: 80%;
    min-width: 280px;
    max-height: 250px;
}

.tier-3 {
    max-width: 70%;
    min-width: 240px;
    max-height: 180px;
}

.tier-2 {
    max-width: 60%;
    min-width: 240px;
    max-height: 180px;
}

.tier-1 {
    max-width: 40%;
    min-width: 180px;
    max-height: 100px;
}

.sponsor-row {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .sponsor-row .col {
        float: none;
    }
}

@media only screen and (max-width: 600px) {
    .prizes .col {
        width:100%;
    }
}

footer.dark a {
    color: $light-bg;
}

footer.light a {
    color: $dark-bg;
}

footer a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 120%;
    font-weight: normal;
}
