// Graphics color palette
$g-red: #E85D24;
$g-light-red: #FAAA42;
$g-gold: #FEB252;
$g-off-white: #FAF4A8;
$g-plum: #004557;

$f-color: #fcece3;

$dark-bg: #004557;
$light-bg: #a2d1e0;
$sponsor-bg: white;
$border: #a2d1e0;

$table-dark: #CEE5E7;
$table-light: #004557;
